# Enron 2.0: Predicting California's Energy Consumption

## Team Members:

**Names:** John W. Muhs, Corbett Carell
<br>**Emails:** <u0761102,u0502104>@utah.edu</br>
<br>**Github Repository:** [JohnWMuhs/2019-datascience-project](https://github.com/JohnWMuhs/2019-datascience-project "2019 Data Science Project Github Repo")

In [76]:
import pandas as pd
import matplotlib as plt
import json
import requests

In [67]:
EIA_api_key = '53e6a63887dc05efe150165fa890f8da'

'''
Hourly Electrici
'''

urls = {'CAISO_HourlyLoad':'http://api.eia.gov/series/?api_key='+EIA_api_key+'&series_id=EBA.CISO-ALL.D.H',
        'California_HourlyLoad':'http://api.eia.gov/series/?api_key='+EIA_api_key+'&series_id=EBA.CAL-ALL.D.H'}

newPull = 0

In [72]:
df = pd.DataFrame()
i = 0
for key in urls:
    if newPull == 0:
        EIAData = requests.get(urls[key])
        EIAData = EIAData.content.decode("utf-8")
        EIAdict = json.loads(EIAData)
        
    dfEIA = pd.DataFrame.from_dict(EIAdict['series'])
    dfEIA = dfEIA['data'][0]
        
    dfEIA = pd.DataFrame(dfEIA)
    #print(dfEIA[0])
    
    while i != 1:
        df['DateTime'] = pd.to_datetime(dfEIA[0],format='%Y%m%dT%H', errors='ignore')
        df['DateTime'] = df['DateTime'].dt.tz_convert('America/Los_Angeles')
        i += 1
        
    df[str(key)] = dfEIA[1]

In [73]:
df.head()

                   DateTime  CAISO_HourlyLoad  California_HourlyLoad
0 2019-03-24 10:00:00-07:00           17326.0                  22080
1 2019-03-24 09:00:00-07:00           17772.0                  22292
2 2019-03-24 08:00:00-07:00           17737.0                  22133
3 2019-03-24 07:00:00-07:00           17629.0                  21941
4 2019-03-24 06:00:00-07:00           16959.0                  21085

In [74]:
df.tail()

                       DateTime  CAISO_HourlyLoad  California_HourlyLoad
32692 2015-07-01 05:00:00-07:00           25661.0                  31540
32693 2015-07-01 04:00:00-07:00           26388.0                  31199
32694 2015-07-01 03:00:00-07:00           27416.0                  31955
32695 2015-07-01 02:00:00-07:00           28989.0                  33243
32696 2015-07-01 01:00:00-07:00           31486.0                  35171